# Object files
*.o
*.hex
*.mk
*.d
*.eep
*.elf
*.lss
*.map
*.srec

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Repo specific files
TcfTransactionLog.csv
firmware/cnc_robot/Debug/*
firmware/cnc_robot/Release/*
*.atsuo
